/EXPRESS/node_modules
/EJS/node_modules
/REST-API/node_modules
/MongoDB_Basics/node_modules
/MongoDB_Basics/.env
/Book-Store-API/node_modules
/Book-Store-API/.env
/AUTH/node_modules
/AUTH/.env
/Socket/node_modules
/Node-cluster/node_modules